@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import 'component';
@import 'navigation';
@import 'visualizer';
@import 'assets';
html,
body {
    font-family: 'Roboto', sans-serif;
    background: #edeef2;
}

#mainContent {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
    padding: 0; //box-shadow: 0px 4px 13px -4px rgba(0, 0, 0, 0.4);
    margin-top: 2px;
}

[ref-component] {
    width: 100%;
}

.notification-nav {
    border-bottom: 1px solid #d6d7db;
    width: 100%;
    background-color: #fefefe;
    color: white;
    padding: 11px 20px 11px 0px;
    position: fixed;
    z-index: 9;
    .btn-holder {
        margin-left: 20px;
    }
    .page-name {
        margin-right: 70px;
        h5 {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 16px;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.float-left {
    padding-top: 5px;
    color: #565656;
    font-size: 17px;
    font-weight: 600;
}

.notification-nav>.left,
.notification-nav>.center,
.notification-nav>.right {
    display: inline-flex;
}

.sidebar-left {
    height: 100vh;
    width: 300px;
    position: fixed;
    background: #2e333a;
    border-right: 1px solid #d6d7db;
    margin-top: 63px;
}

.page-content {
    margin-left: 250px;
    padding: 65px 35px;
    padding-left: 65px;
    padding-right: 15px;
    overflow-x: hidden;
}

.main-content {
    padding-top: 55px;
}

.component-list {
    list-style: none;
    padding: 0;
}

.component-list>li {
    background: #2e333a;
    padding: 5px 0px 5px 12px;
    transition: ease-in 0.2s;
    font-weight: 600;
    font-size: 14px;
    color: #babcbd;
}

.component-list>li:hover {
    background: #3b4149;
    cursor: pointer;
}

.right-side {
    background: #2e333a;
}

.sidebar-header {
    padding: 10px 0px 10px 0px;
    background: #2e333a;
    h5 {
        font-size: 18px;
        color: #babcbd;
        margin-top: 6px;
        border-bottom: 1px solid #d8d8df21;
        padding-bottom: 16px;
    }
}

.section-header {
    border-bottom: 1px solid #ebebeb;
    margin: 10px 0px;
}

p {
    color: #5E5E5E;
}

.terms-section>h5 {
    font-size: 18px;
    color: #323232;
}

[data-component] {
    border: 1px solid transparent;
}

[data-component]:hover {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.editable-toolbar {
    height: 45px;
    min-width: 20px;
    position: absolute;
    z-index: 99;
    background: #3a3939;
    display: none;
    padding: 9px 0px;
    padding-right: 17px;
}

.droppable {
    margin-top: 20px;
    font-weight: 300;
    color: #CFCCCC;
    border: 2px solid #EAEAEA;
    padding: 8px;
    text-align: center;
    transition: ease-in 0.25s;
}

.droppable:hover {
    color: #c0c0c0;
    border: 2px solid #c0c0c0;
    cursor: pointer;
}

.editable-toolbar>.glyph-icon {
    color: #c3c3c3;
    transition: ease-in 0.2s;
}

.editable-toolbar>.glyph-icon:hover {
    color: #898989;
    cursor: pointer;
}

.expanded-editor {
    display: none;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    background: rgba(94, 94, 94, 0.38);
}

.expanded-editor .editor-content {
    position: inherit;
}

.selected-content {
    border: 2px solid #417ee3 !important;
}

.editing-content {
    border: 1px solid #aad8fe;
}

.selected-content:focus,
.container:focus {
    outline: none;
    border: 1px solid #aad8fe;
}

ul {
    list-style: none;
}

.col-title {
    color: #cfcfcf;
}

.img-component {
    width: 100%;
}

#special-editor {
    height: 450px;
    width: 100px;
    background: #313131;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 3px;
    min-height: 450px;
    width: 70%;
    position: inherit;
}

#regular-editor {
    height: 450px;
    width: 100px;
    color: #c5c5c5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 3px;
    min-height: 450px;
    width: 30%;
    position: inherit;
    height: 20rem;
    background-color: #555;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
}

#regular-editor input,
#regular-editor select {
    color: #fff;
    background-color: #464646;
    border-color: #3c3c3c;
    font-family: "lato";
    font-size: 13px;
    height: 2.375rem;
}

#regular-editor form {
    padding: .9375rem;
}

.no-float {
    float: none !important;
}

.no-right-pad {
    padding-right: 0;
}

.editor-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.editor-header {
    background-color: #2d9bea;
    box-sizing: border-box;
    padding: 5px 19px;
}

.editor-header h2 {
    margin: 0;
    line-height: 2.75rem;
    color: #e6e6e6;
    font-size: 20px;
    font-weight: 300;
}

.editor-btn {
    float: right;
    margin-top: 10px;
    width: 150px;
    margin-left: 20px;
}

.addContent {
    min-height: 50px;
    margin-bottom: 1px;
    background: none;
    background-color: transparent;
    box-shadow: none;
}

.component-header {
    background: #f1efec;
    padding: 2px;
    text-align: center;
    color: #676767;
}

.form-check-label span {
    line-height: 44px;
}

.jwplayer {
    width: 100% !important;
}

.form-control {
    border-radius: 0;
}


/* Hero  */

.hero {
    height: 600px;
    width: 100%;
    background-color: #417ee3;
    background: url("/src/assets/images/pup.jpg") no-repeat center center;
    background-size: cover;
}

.hero-body {
    margin-top: 200px;
    padding: 20px;
}

.hero-body h4 {
    color: white;
    font-size: 28px;
    font-family: "lato", sans-serif;
    font-size: 40px;
    margin: 0;
}

.hero-body p {
    color: white;
    font-family: "lato", sans-serif;
}

.hero-input input {
    display: inline-block;
    width: 250px;
}

.hero-input button {
    display: inline-block;
    margin-top: -4px;
}

.nav-btn {
    float: right;
    background: #efefef;
}

.nav-icons {
    margin-top: 6px;
    i {
        margin-right: 5px;
        color: #d8d8df;
        transition: ease-in 0.2s;
        &:hover {
            color: #676d7b;
            cursor: pointer;
        }
    }
    a {
        color: #676d7b;
        margin-right: 10px;
    }
}

.selected-icon {
    color: #676d7b !important;
    font-size: 10px;
}

.nav-component {
    background-color: #ffffff;
}

[ref-component="sidenav"] {
    background-color: #f0ece5;
    padding: 15px;
}

[ref-component] {
    border: 1px solid #a2a2a21a;
}

.row {
    margin: 0 !important;
}

#iPadViewPort img {
    height: 50%;
    width: 60%;
}

#iPhoneViewPort img {
    height: 50%;
    width: 40%;
}

#iPhoneViewPort,
#iPadViewPort {
    display: none;
}

.viewPorts {
    @extend .page-content;
    padding-top: 0;
}

#contentBody {
    padding: 10px;
    border-top: 1px solid #d6d7db;
    background-color: white;
}

.form-check-label {
    margin-left: 10px;
}

.form-check {
    display: inline-block;
}

.flex {
    display: flex;
    span {
        padding: 7px;
    }
}

.add-meta {
    i {
        margin: auto;
        opacity: 0.3;
        transition: ease-in 0.2s;
        &:hover {
            opacity: 0.6;
            cursor: pointer;
        }
    }
}

#alpacaEdit {
    padding: 15px;
    height: 396px;
    overflow-y: scroll;
}

.row {
    width: 100%;
    label {
        margin-bottom: 2px;
    }
}

.full-width {
    width: 100%;
}

.btn-default {
    border: 2px solid #d4d7da;
    font-size: 14px;
    padding: 7px 20px;
    color: #cacaca;
    transition: ease-in 0.2s;
    &:hover {
        cursor: pointer;
        transform: translateY(-1px);
    }
}

.btn-green {
    @extend .btn-default;
    background: #3ec795;
    color: white;
    border: none;
    padding: 8px 20px;
}

.inline {
    display: inline-block;
}

// Status icons
i {
    display: inline-block;
    &.green-status::before {
        display: inline-block;
        font-size: 10px;
        color: #3ec795;
    }
}

.status-holder {
    margin-left: 15px;
    margin-top: -3px;
}

.fa-caret-down {
    &::before {
        color: #cacaca;
    }
}

.hour-table {
    tbody {
        background: #e5e6ea;
        th {
            border-right: 1px solid #cbcbcb;
        }
    }
}

.testimonial-holder {
    .testimonial {
        padding: 20px;
        width: 100%;
        text-align: center;
        h3 {
            margin-bottom: 0;
        }
        span {
            color: grey;
            font-size: 12px;
        }
        p {
            margin-top: 5px;
            font-size: 13px;
        }
    }
}

.editor-tabs {
    display: flex;
    .tab {
        background: #3d3d3d;
        padding: 7px 20px;
        border-right: 2px solid #555555;
    }
}