.blue-highlight {
    background: rgba(49, 120, 224, 0.2);
    position: absolute;
    z-index: 8;
    cursor: pointer;
}

#footerBody {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

#component-sidebar {
    display: none;
}