@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
.comp-footer {
  background-color: #3a3f46;
  color: white; }

.comp-footer .row {
  margin-bottom: 60px; }

.comp-footer .info {
  text-align: justify;
  color: #afb0b1; }

.comp-footer ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7; }

.comp-footer h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px; }

.comp-footer .logo {
  margin-top: 10px; }

.comp-footer .second-bar .logo a {
  color: white;
  font-size: 28px;
  float: left;
  font-weight: bold;
  line-height: 68px;
  margin: 0;
  padding: 0; }

.comp-footer a {
  color: #d2d1d1;
  text-decoration: none; }

.comp-footer a:hover,
.comp-footer a:focus {
  text-decoration: none;
  color: white; }

.comp-footer .second-bar {
  text-align: center;
  background-color: #33373e;
  text-align: center; }

.comp-footer .second-bar a {
  font-size: 22px;
  color: #9fa3a9;
  padding: 10px;
  transition: 0.2s;
  line-height: 68px; }

.comp-footer .second-bar a:hover {
  text-decoration: none; }

.comp-footer .social-icons {
  float: right; }

.comp-footer .facebook:hover {
  color: #0077e2; }

.comp-footer .google:hover {
  color: #ef1a1a; }

.comp-footer .twitter:hover {
  color: #00aced; }

@media screen and (max-width: 767px) {
  .comp-footer {
    text-align: center; }
  .comp-footer .info {
    text-align: center; } }

.comp-footer p {
  color: #afb0b1 !important; }

/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */
.link-visualizer {
  background: #f0f0f0;
  margin: 20px 0 20px 0;
  box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.1); }
  .link-visualizer .control-bar {
    height: 35px;
    background: #f6f6f6;
    padding: 6px;
    border-bottom: 1px solid #eaeaea; }
    .link-visualizer .control-bar img {
      height: 22px;
      margin-right: 10px; }
      .link-visualizer .control-bar img:hover {
        cursor: pointer; }
    .link-visualizer .control-bar .nav-draggable li {
      display: inline-block;
      margin-right: 10px; }
      .link-visualizer .control-bar .nav-draggable li img {
        margin-right: 5px; }
      .link-visualizer .control-bar .nav-draggable li .delete-nav {
        display: none; }
  .link-visualizer .link-body {
    background: #fefefe;
    padding: 10px; }
    .link-visualizer .link-body .link-list, .link-visualizer .link-body .link-list-sub {
      padding: 5px; }
      .link-visualizer .link-body .link-list li, .link-visualizer .link-body .link-list-sub li {
        margin-bottom: 10px; }
        .link-visualizer .link-body .link-list li img, .link-visualizer .link-body .link-list-sub li img {
          float: left;
          height: 20px;
          margin-top: 1px;
          margin-right: 10px; }
    .link-visualizer .link-body .link-list-sub {
      padding-left: 15px; }
      .link-visualizer .link-body .link-list-sub li {
        margin-bottom: 2px; }

.delete-nav {
  font-size: 13px;
  color: #cdcdcd;
  margin-left: 10px;
  transition: ease-in 0.2s; }
  .delete-nav:hover {
    color: #6c6c6c;
    cursor: pointer; }

.sub-folder {
  padding-left: 10px; }

.page-nav-editor {
  background: #fefefe;
  min-height: 100px;
  width: 100%;
  margin: 20px 0px;
  box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.1); }
  .page-nav-editor .header {
    height: 35px;
    background: #f6f6f6;
    padding: 6px;
    border-bottom: 1px solid #eaeaea; }
  .page-nav-editor .body {
    padding: 10px; }
    .page-nav-editor .body .form-group {
      margin-bottom: 10px !important; }

.md-text {
  height: 100px;
  resize: none; }

.nav-label:hover {
  cursor: pointer; }

.tabs {
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  color: #7b7b7b; }
  .tabs .tab {
    display: inline-block;
    padding: 4px 12px;
    max-width: 170px;
    text-align: center;
    transition: ease-in 0.2s; }
    .tabs .tab.selected {
      background: #ececec; }
    .tabs .tab:hover {
      cursor: pointer;
      background: #f4f4f4; }

.form-link-area a {
  display: block;
  color: #737373; }

.lock-ico {
  height: 20px;
  margin-top: -5px; }

.tooltip-ico {
  height: 13px;
  opacity: 0.2;
  margin-top: -3px;
  transition: ease-in 0.2s; }
  .tooltip-ico:hover {
    opacity: 0.4; }

.blue-highlight {
  background: rgba(49, 120, 224, 0.2);
  position: absolute;
  z-index: 8;
  cursor: pointer; }

#footerBody {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column; }

#component-sidebar {
  display: none; }

.back-arrow {
  float: left;
  margin-left: 10px;
  margin-top: 4px;
  color: #c3c3c3;
  transition: ease-in 0.2s; }
  .back-arrow:hover {
    cursor: pointer;
    color: #646464; }

.sidebar-left.compressed {
  display: none;
  width: 65px;
  text-align: center; }
  .sidebar-left.compressed i {
    margin-left: 22px; }
  .sidebar-left.compressed .sidebar-header {
    min-height: 46px; }

.editor-only {
  display: none; }

.compressed-sidebar {
  display: inline-block;
  width: 70px;
  background: #24282e; }
  .compressed-sidebar i {
    color: #d8d8df;
    transition: ease-in 0.2s; }
  .compressed-sidebar i:before {
    font-size: 24px;
    margin-left: 8px; }
  .compressed-sidebar .glyph {
    padding: 8px;
    transition: ease-in 0.2s; }
    .compressed-sidebar .glyph:hover {
      background: #3cb8e3;
      cursor: pointer; }
  .compressed-sidebar .selected {
    background: #3cb8e3; }

.double-sided {
  display: flex; }

.right-side {
  width: 100%; }

#asset-manager {
  display: none; }

html,
body {
  font-family: 'Open Sans', sans-serif;
  background: #edeef2; }

#mainContent {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
  padding: 0;
  margin-top: 2px; }

[ref-component] {
  width: 100%; }

.notification-nav {
  border-bottom: 1px solid #d6d7db;
  width: 100%;
  background-color: #fefefe;
  color: white;
  padding: 11px 20px 11px 0px;
  position: fixed;
  z-index: 9; }
  .notification-nav .btn-holder {
    margin-left: 20px; }
  .notification-nav .page-name {
    margin-right: 70px; }
    .notification-nav .page-name h5 {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 16px; }
    .notification-nav .page-name:hover {
      cursor: pointer; }

.float-left {
  padding-top: 5px;
  color: #565656;
  font-size: 17px;
  font-weight: 600; }

.notification-nav > .left,
.notification-nav > .center,
.notification-nav > .right {
  display: inline-flex; }

.sidebar-left {
  height: 100vh;
  width: 300px;
  position: fixed;
  background: #2e333a;
  border-right: 1px solid #d6d7db;
  margin-top: 57px; }

.page-content, .viewPorts {
  margin-left: 250px;
  padding: 65px 35px;
  padding-left: 65px;
  padding-right: 15px;
  overflow-x: hidden; }

.main-content {
  padding-top: 55px; }

.component-list {
  list-style: none;
  padding: 0; }

.component-list > li {
  background: #2e333a;
  padding: 5px 0px 5px 12px;
  transition: ease-in 0.2s;
  font-weight: 600;
  font-size: 14px;
  color: #babcbd; }

.component-list > li:hover {
  background: #3b4149;
  cursor: pointer; }

.right-side {
  background: #2e333a; }

.sidebar-header {
  padding: 10px 0px 10px 0px;
  background: #2e333a; }
  .sidebar-header h5 {
    font-size: 18px;
    color: #babcbd;
    margin-top: 6px;
    border-bottom: 1px solid #d8d8df21;
    padding-bottom: 16px; }

.section-header {
  border-bottom: 1px solid #ebebeb;
  margin: 10px 0px; }

p {
  color: #5E5E5E; }

.terms-section > h5 {
  font-size: 18px;
  color: #323232; }

[data-component] {
  border: 1px solid transparent; }

[data-component]:hover {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer; }

.editable-toolbar {
  height: 45px;
  min-width: 20px;
  position: absolute;
  z-index: 99;
  background: #3a3939;
  display: none;
  padding: 9px 0px;
  padding-right: 17px; }

.droppable {
  margin-top: 20px;
  font-weight: 300;
  color: #CFCCCC;
  border: 2px solid #EAEAEA;
  padding: 8px;
  text-align: center;
  transition: ease-in 0.25s; }

.droppable:hover {
  color: #c0c0c0;
  border: 2px solid #c0c0c0;
  cursor: pointer; }

.editable-toolbar > .glyph-icon {
  color: #c3c3c3;
  transition: ease-in 0.2s; }

.editable-toolbar > .glyph-icon:hover {
  color: #898989;
  cursor: pointer; }

.expanded-editor {
  display: none;
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  background: rgba(94, 94, 94, 0.38); }

.expanded-editor .editor-content {
  position: inherit; }

.selected-content {
  border: 2px solid #417ee3 !important; }

.editing-content {
  border: 1px solid #aad8fe; }

.selected-content:focus,
.container:focus {
  outline: none;
  border: 1px solid #aad8fe; }

ul {
  list-style: none; }

.col-title {
  color: #cfcfcf; }

.img-component {
  width: 100%; }

#special-editor {
  height: 450px;
  width: 100px;
  background: #313131;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 3px;
  min-height: 450px;
  width: 70%;
  position: inherit; }

#regular-editor {
  height: 450px;
  width: 100px;
  color: #c5c5c5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 3px;
  min-height: 450px;
  width: 30%;
  position: inherit;
  overflow: auto;
  height: 20rem;
  background-color: #555;
  border: .0625rem solid #333;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2); }

#regular-editor input,
#regular-editor select {
  color: #fff;
  background-color: #464646;
  border-color: #3c3c3c;
  font-family: "lato";
  font-size: 13px;
  height: 2.375rem; }

#regular-editor form {
  padding: .9375rem; }

.no-float {
  float: none !important; }

.no-right-pad {
  padding-right: 0; }

.editor-buttons {
  text-align: center;
  margin-bottom: 20px; }

.editor-header {
  background-color: #414141;
  padding-left: .9375rem;
  box-sizing: border-box; }

.editor-header h2 {
  margin: 0;
  line-height: 2.75rem;
  color: #e6e6e6;
  font-size: 20px; }

.editor-btn {
  float: right;
  margin-top: 10px;
  width: 150px;
  margin-left: 20px; }

.addContent {
  min-height: 50px;
  margin-bottom: 1px;
  background: none;
  background-color: transparent;
  box-shadow: none; }

.component-header {
  background: #f1efec;
  padding: 2px;
  text-align: center;
  color: #676767; }

.form-check-label span {
  line-height: 44px; }

.jwplayer {
  width: 100% !important; }

/* Hero  */
.hero {
  height: 600px;
  width: 100%;
  background-color: #417ee3;
  background: url("/src/assets/images/pup.jpg") no-repeat center center;
  background-size: cover; }

.hero-body {
  margin-top: 200px;
  padding: 20px; }

.hero-body h4 {
  color: white;
  font-size: 28px;
  font-family: "lato", sans-serif;
  font-size: 40px;
  margin: 0; }

.hero-body p {
  color: white;
  font-family: "lato", sans-serif; }

.hero-input input {
  display: inline-block;
  width: 250px; }

.hero-input button {
  display: inline-block;
  margin-top: -4px; }

.nav-btn {
  float: right;
  background: #efefef; }

.nav-icons {
  margin-top: 6px; }
  .nav-icons i {
    margin-right: 5px;
    color: #d8d8df;
    transition: ease-in 0.2s; }
    .nav-icons i:hover {
      color: #676d7b;
      cursor: pointer; }
  .nav-icons a {
    color: #676d7b;
    margin-right: 10px; }

.selected-icon {
  color: #676d7b !important;
  font-size: 10px; }

.nav-component {
  background-color: #ffffff; }

[ref-component="sidenav"] {
  background-color: #f0ece5;
  padding: 15px; }

[ref-component] {
  border: 1px solid #a2a2a21a; }

.row {
  margin: 0 !important; }

#iPadViewPort img {
  height: 50%;
  width: 60%; }

#iPhoneViewPort img {
  height: 50%;
  width: 40%; }

#iPhoneViewPort,
#iPadViewPort {
  display: none; }

.viewPorts {
  padding-top: 0; }

#contentBody {
  padding: 10px;
  border-top: 1px solid #d6d7db;
  background-color: white; }

.form-check-label {
  margin-left: 10px; }

.form-check {
  display: inline-block; }

.flex {
  display: flex; }
  .flex span {
    padding: 7px; }

.add-meta i {
  margin: auto;
  opacity: 0.3;
  transition: ease-in 0.2s; }
  .add-meta i:hover {
    opacity: 0.6;
    cursor: pointer; }

#alpacaEdit {
  padding: 15px; }

.row {
  width: 100%; }
  .row label {
    margin-bottom: 2px; }

.full-width {
  width: 100%; }

.btn-default, .btn-green {
  border: 2px solid #d4d7da;
  font-size: 14px;
  padding: 7px 20px;
  color: #cacaca;
  transition: ease-in 0.2s; }
  .btn-default:hover, .btn-green:hover {
    cursor: pointer;
    transform: translateY(-1px); }

.btn-green {
  background: #3ec795;
  color: white;
  border: none;
  padding: 8px 20px; }

.inline {
  display: inline-block; }

i {
  display: inline-block; }
  i.green-status::before {
    display: inline-block;
    font-size: 10px;
    color: #3ec795; }

.status-holder {
  margin-left: 15px;
  margin-top: -3px; }

.fa-caret-down::before {
  color: #cacaca; }

.hour-table tbody {
  background: #e5e6ea; }
  .hour-table tbody th {
    border-right: 1px solid #cbcbcb; }

.testimonial-holder .testimonial {
  padding: 20px;
  width: 100%;
  text-align: center; }
  .testimonial-holder .testimonial h3 {
    margin-bottom: 0; }
  .testimonial-holder .testimonial span {
    color: grey;
    font-size: 12px;
    margin-bottom: 15px; }
  .testimonial-holder .testimonial p {
    font-size: 13px; }
