.comp-footer {
  background-color: #3a3f46;
  color: white; }

.comp-footer .row {
  margin-bottom: 60px; }

.comp-footer .info {
  text-align: justify;
  color: #afb0b1; }

.comp-footer ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7; }

.comp-footer h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px; }

.comp-footer .logo {
  margin-top: 10px; }

.comp-footer .second-bar .logo a {
  color: white;
  font-size: 28px;
  float: left;
  font-weight: bold;
  line-height: 68px;
  margin: 0;
  padding: 0; }

.comp-footer a {
  color: #d2d1d1;
  text-decoration: none; }

.comp-footer a:hover,
.comp-footer a:focus {
  text-decoration: none;
  color: white; }

.comp-footer .second-bar {
  text-align: center;
  background-color: #33373e;
  text-align: center; }

.comp-footer .second-bar a {
  font-size: 22px;
  color: #9fa3a9;
  padding: 10px;
  transition: 0.2s;
  line-height: 68px; }

.comp-footer .second-bar a:hover {
  text-decoration: none; }

.comp-footer .social-icons {
  float: right; }

.comp-footer .facebook:hover {
  color: #0077e2; }

.comp-footer .google:hover {
  color: #ef1a1a; }

.comp-footer .twitter:hover {
  color: #00aced; }

@media screen and (max-width: 767px) {
  .comp-footer {
    text-align: center; }
  .comp-footer .info {
    text-align: center; } }

.comp-footer p {
  color: #afb0b1 !important; }

/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */
.link-visualizer {
  background: #f0f0f0;
  margin: 20px 0 20px 0;
  box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.1); }
  .link-visualizer .control-bar {
    height: 35px;
    background: #f6f6f6;
    padding: 6px;
    border-bottom: 1px solid #eaeaea; }
    .link-visualizer .control-bar img {
      height: 22px;
      margin-right: 10px; }
      .link-visualizer .control-bar img:hover {
        cursor: pointer; }
    .link-visualizer .control-bar .nav-draggable li {
      display: inline-block;
      margin-right: 10px; }
      .link-visualizer .control-bar .nav-draggable li img {
        margin-right: 5px; }
      .link-visualizer .control-bar .nav-draggable li .delete-nav {
        display: none; }
  .link-visualizer .link-body {
    background: #fefefe;
    padding: 10px; }
    .link-visualizer .link-body .link-list, .link-visualizer .link-body .link-list-sub {
      padding: 5px; }
      .link-visualizer .link-body .link-list li, .link-visualizer .link-body .link-list-sub li {
        margin-bottom: 10px; }
        .link-visualizer .link-body .link-list li img, .link-visualizer .link-body .link-list-sub li img {
          float: left;
          display: inline-block;
          height: 20px;
          margin-top: 1px;
          margin-right: 10px; }
    .link-visualizer .link-body .link-list-sub {
      padding-left: 15px; }
      .link-visualizer .link-body .link-list-sub li {
        margin-bottom: 2px; }

.delete-nav {
  font-size: 13px;
  color: #cdcdcd;
  margin-left: 10px;
  transition: ease-in 0.2s; }
  .delete-nav:hover {
    color: #6c6c6c;
    cursor: pointer; }

.sub-folder {
  padding-left: 10px; }

.page-nav-editor {
  background: #fefefe;
  min-height: 100px;
  width: 100%;
  margin: 20px 0px;
  box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.1); }
  .page-nav-editor .header {
    height: 35px;
    background: #f6f6f6;
    padding: 6px;
    border-bottom: 1px solid #eaeaea; }
  .page-nav-editor .body {
    padding: 10px; }
    .page-nav-editor .body .form-group {
      margin-bottom: 10px !important; }

.md-text {
  height: 100px;
  resize: none; }

.blue-highlight {
  background: rgba(49, 120, 224, 0.2);
  position: absolute;
  z-index: 8;
  cursor: pointer; }

#footerBody {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column; }

#component-sidebar {
  display: none; }

.back-arrow {
  float: left;
  margin-left: 10px;
  margin-top: 4px;
  color: #c3c3c3;
  transition: ease-in 0.2s; }
  .back-arrow:hover {
    cursor: pointer;
    color: #646464; }

html,
body {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f0f0f0; }

#mainContent {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
  padding: 0;
  margin-top: 2px; }

[ref-component] {
  width: 100%; }

.notification-nav {
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  background-color: #fefefe;
  color: white;
  padding: 11px 20px;
  position: fixed;
  z-index: 9;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.3); }

.float-left {
  padding-top: 5px;
  color: #383838;
  font-size: 17px; }

.notification-nav > .left,
.notification-nav > .center,
.notification-nav > .right {
  display: inline-flex; }

.sidebar-left {
  height: 100vh;
  width: 250px;
  position: fixed;
  background: #fefefe;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);
  margin-top: 62px; }

.page-content, .viewPorts {
  margin-left: 250px;
  padding: 60px 20px;
  padding-left: 21px;
  padding-right: 15px;
  overflow-x: hidden; }

.main-content {
  padding-top: 55px; }

.component-list {
  list-style: none;
  padding: 0; }

.component-list > li {
  background: #ffffff;
  border-top: 2px solid #ececec;
  padding: 10px;
  text-align: center;
  transition: ease-in 0.2s; }
  .component-list > li:last-child {
    border-bottom: 2px solid #ececec; }

.component-list > li:hover {
  background: #f0f0f0;
  cursor: pointer; }

.sidebar-header {
  padding: 10px 0px 3px 0px;
  background: #eaeaea; }

.section-header {
  border-bottom: 1px solid #ebebeb;
  margin: 10px 0px; }

p {
  color: #5E5E5E; }

.terms-section > h5 {
  font-size: 18px;
  color: #323232; }

[data-component] {
  border: 1px solid transparent; }

[data-component]:hover {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer; }

.editable-toolbar {
  height: 45px;
  min-width: 20px;
  position: absolute;
  z-index: 99;
  background: #3a3939;
  display: none;
  padding: 9px 0px;
  padding-right: 17px; }

.droppable {
  margin-top: 20px;
  font-weight: 300;
  color: #CFCCCC;
  border: 2px solid #EAEAEA;
  padding: 8px;
  text-align: center;
  transition: ease-in 0.25s; }

.droppable:hover {
  color: #c0c0c0;
  border: 2px solid #c0c0c0;
  cursor: pointer; }

.editable-toolbar > .glyph-icon {
  color: #c3c3c3;
  transition: ease-in 0.2s; }

.editable-toolbar > .glyph-icon:hover {
  color: #898989;
  cursor: pointer; }

.expanded-editor {
  display: none;
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  background: rgba(94, 94, 94, 0.38); }

.expanded-editor .editor-content {
  position: inherit; }

.selected-content {
  border: 2px solid #417ee3 !important; }

.editing-content {
  border: 1px solid #aad8fe; }

.selected-content:focus,
.container:focus {
  outline: none;
  border: 1px solid #aad8fe; }

ul {
  list-style: none; }

.col-title {
  color: #cfcfcf; }

.img-component {
  width: 100%; }

#special-editor {
  height: 450px;
  width: 100px;
  background: #313131;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 3px;
  min-height: 450px;
  width: 70%;
  position: inherit; }

#regular-editor {
  height: 450px;
  width: 100px;
  color: #c5c5c5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 3px;
  min-height: 450px;
  width: 30%;
  position: inherit;
  overflow: auto;
  height: 20rem;
  background-color: #555;
  border: .0625rem solid #333;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2); }

#regular-editor input,
#regular-editor select {
  color: #fff;
  background-color: #464646;
  border-color: #3c3c3c;
  font-family: "lato";
  font-size: 13px;
  height: 2.375rem; }

#regular-editor form {
  padding: .9375rem; }

.no-float {
  float: none !important; }

.no-right-pad {
  padding-right: 0; }

.editor-buttons {
  text-align: center;
  margin-bottom: 20px; }

.editor-header {
  background-color: #414141;
  padding-left: .9375rem;
  box-sizing: border-box; }

.editor-header h2 {
  margin: 0;
  line-height: 2.75rem;
  color: #e6e6e6;
  font-size: 20px; }

.editor-btn {
  float: right;
  margin-top: 10px;
  width: 150px;
  margin-left: 20px; }

.addContent {
  min-height: 50px;
  border: 1px solid #a2a2a2;
  margin-bottom: 1px;
  border: none;
  background: none;
  background-color: transparent;
  box-shadow: none; }

.component-header {
  background: #f1efec;
  padding: 2px;
  text-align: center;
  color: #676767; }

.form-check-label span {
  line-height: 44px; }

.jwplayer {
  width: 100% !important; }

/* Hero  */
.hero {
  height: 600px;
  width: 100%;
  background-color: #417ee3;
  background: url("/src/assets/images/pup.jpg") no-repeat center center;
  background-size: cover; }

.hero-body {
  margin-top: 200px;
  padding: 20px; }

.hero-body h4 {
  color: white;
  font-size: 28px;
  font-family: "lato", sans-serif;
  font-size: 40px;
  margin: 0; }

.hero-body p {
  color: white;
  font-family: "lato", sans-serif; }

.hero-input input {
  display: inline-block;
  width: 250px; }

.hero-input button {
  display: inline-block;
  margin-top: -4px; }

.nav-btn {
  float: right;
  background: #efefef; }

.nav-icons i {
  margin-right: 5px;
  color: #d8d8df;
  transition: ease-in 0.2s; }
  .nav-icons i:hover {
    color: #676d7b;
    cursor: pointer; }

.nav-icons a {
  color: #676d7b;
  margin-right: 10px; }

.selected-icon {
  color: #676d7b !important;
  font-size: 10px; }

.nav-component {
  background-color: #ffffff; }

[ref-component="sidenav"] {
  background-color: #f0ece5;
  padding: 15px; }

.row {
  margin: 0 !important; }

#iPadViewPort img {
  height: 50%;
  width: 60%; }

#iPhoneViewPort img {
  height: 50%;
  width: 40%; }

#iPhoneViewPort,
#iPadViewPort {
  display: none; }

.viewPorts {
  padding-top: 0; }
