html,
body {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.notification-nav {
    width: 100%;
    background-color: #407FE3;
    color: white;
    padding: 15px 20px;
    position: fixed;
    z-index: 9;
}

.notification-nav>.left,
.notification-nav>.center,
.notification-nav>.right {
    display: inline-flex;
}

.sidebar-left {
    height: 100vh;
    width: 250px;
    position: fixed;
    background: #E9E9E9;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);
}

.page-content {
    margin-left: 250px;
    padding: 20px;
}

.main-content {
    padding-top: 55px;
}

.component-list {
    list-style: none;
    padding: 0;
}

.component-list>li {
    background: #D8D8D8;
    border: 1px solid #C6C6C6;
    padding: 10px;
    text-align: center;
    transition: ease-in 0.3s;
}

.component-list>li:hover {
    background: #cfcfcf;
    cursor: pointer;
}

.sidebar-header {
    padding: 20px 0px 10px 0px;
}

.section-header {
    border-bottom: 1px solid #ebebeb;
    margin: 10px 0px;
}

p {
    color: #5E5E5E;
}

.terms-section>h5 {
    font-size: 18px;
    color: #323232;
}

[data-component] {
    border: 1px solid transparent;
}

[data-component]:hover {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.editable-toolbar {
    height: 45px;
    min-width: 20px;
    position: absolute;
    z-index: 99;
    background: #3a3939;
    display: none;
    padding: 9px 0px;
    padding-right: 17px;
}

.droppable {
    margin-top: 20px;
    font-weight: 300;
    color: #CFCCCC;
    border: 2px solid #EAEAEA;
    padding: 8px;
    text-align: center;
    transition: ease-in 0.25s;
}

.droppable:hover {
    color: #c0c0c0;
    border: 2px solid #c0c0c0;
    cursor: pointer;
}

.editable-toolbar>.glyph-icon {
    color: #c3c3c3;
    transition: ease-in 0.2s;
}

.editable-toolbar>.glyph-icon:hover {
    color: #898989;
    cursor: pointer;
}

.expanded-editor {
    display: none;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    background: rgba(94, 94, 94, 0.38);
}

.expanded-editor .editor-content {
    height: 450px;
    width: 100px;
    background: #313131;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 3px;
    min-height: 450px;
    width: 70%;
    position: inherit;
}

.selected-content {
    border: 1px solid #ebebeb;
}

.editing-content {
    border: 1px solid #aad8fe;
}

.selected-content:focus,
.container:focus {
    outline: none;
    border: 1px solid #aad8fe;
}

ul {
    list-style: none;
}

.col-title {
    color: #cfcfcf;
}

.img-component {
    width: 100%;
}

#special-editor {
    height: 100%;
}

.editor-btn {
    float: right;
    margin-top: 10px;
    width: 150px;
    margin-left: 20px;
}