<div class="row addContent" ref-component="hours">
    <h3>Hours of Operation</h3>
    <table class="table hour-table">
        <tbody>
            <tr>
                <th scope="row">Sunday</th>
                <td data-fill="Sunday">2AM - 10AM</td>
            </tr>
            <tr>
                <th scope="row">Monday</th>
                <td data-fill="Monday">2AM - 10AM</td>
            </tr>
            <tr>
                <th scope="row">Tuesday</th>
                <td data-fill="Tuesday">2AM - 10AM</td>
            </tr>
            <tr>
                <th scope="row">Wednesday</th>
                <td data-fill="Wednesday">2AM - 10AM</td>
            </tr>
            <tr>
                <th scope="row">Thursday</th>
                <td data-fill="Thursday">2AM - 10AM</td>
            </tr>
            <tr>
                <th scope="row">Friday</th>
                <td data-fill="Friday">2AM - 10AM</td>
            </tr>
            <tr>
                <th scope="row">Saturday</th>
                <td data-fill="Saturday">2AM - 10AM</td>
            </tr>
        </tbody>
    </table>
</div>