    /*
    Flaticon icon font: Flaticon
    Creation date: 17/10/2017 08:52
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-faq:before { content: "\f100"; }
.flaticon-002-warning:before { content: "\f101"; }
.flaticon-003-padlock:before { content: "\f102"; }
.flaticon-004-cancel:before { content: "\f103"; }
.flaticon-005-forward:before { content: "\f104"; }
.flaticon-006-reply:before { content: "\f105"; }
.flaticon-007-speedometer:before { content: "\f106"; }
.flaticon-008-email:before { content: "\f107"; }
.flaticon-009-chat-2:before { content: "\f108"; }
.flaticon-010-telephone:before { content: "\f109"; }
.flaticon-011-rss:before { content: "\f10a"; }
.flaticon-012-idea:before { content: "\f10b"; }
.flaticon-013-hourglass:before { content: "\f10c"; }
.flaticon-014-folder:before { content: "\f10d"; }
.flaticon-015-internet:before { content: "\f10e"; }
.flaticon-016-calendar:before { content: "\f10f"; }
.flaticon-017-support:before { content: "\f110"; }
.flaticon-018-group:before { content: "\f111"; }
.flaticon-019-user:before { content: "\f112"; }
.flaticon-020-chat-1:before { content: "\f113"; }
.flaticon-021-cursor-1:before { content: "\f114"; }
.flaticon-022-power-button:before { content: "\f115"; }
.flaticon-023-edit:before { content: "\f116"; }
.flaticon-024-refresh:before { content: "\f117"; }
.flaticon-025-mail:before { content: "\f118"; }
.flaticon-026-image:before { content: "\f119"; }
.flaticon-027-circular-clock:before { content: "\f11a"; }
.flaticon-028-video-player:before { content: "\f11b"; }
.flaticon-029-like:before { content: "\f11c"; }
.flaticon-030-eye:before { content: "\f11d"; }
.flaticon-031-heart:before { content: "\f11e"; }
.flaticon-032-favorite:before { content: "\f11f"; }
.flaticon-033-mouse:before { content: "\f120"; }
.flaticon-034-menu:before { content: "\f121"; }
.flaticon-035-gamepad:before { content: "\f122"; }
.flaticon-036-gps:before { content: "\f123"; }
.flaticon-037-play:before { content: "\f124"; }
.flaticon-038-laptop:before { content: "\f125"; }
.flaticon-039-tablet-1:before { content: "\f126"; }
.flaticon-040-tablet:before { content: "\f127"; }
.flaticon-041-trash:before { content: "\f128"; }
.flaticon-042-www:before { content: "\f129"; }
.flaticon-043-http:before { content: "\f12a"; }
.flaticon-044-options:before { content: "\f12b"; }
.flaticon-045-qr-code:before { content: "\f12c"; }
.flaticon-046-favorites:before { content: "\f12d"; }
.flaticon-047-wifi:before { content: "\f12e"; }
.flaticon-048-home:before { content: "\f12f"; }
.flaticon-049-loupe:before { content: "\f130"; }
.flaticon-050-hand:before { content: "\f131"; }
.flaticon-051-placeholder:before { content: "\f132"; }
.flaticon-052-link:before { content: "\f133"; }
.flaticon-053-cloud-computing:before { content: "\f134"; }
.flaticon-054-chat:before { content: "\f135"; }
.flaticon-055-worldwide:before { content: "\f136"; }
.flaticon-056-cursor:before { content: "\f137"; }
    
    $font-Flaticon-001-faq: "\f100";
    $font-Flaticon-002-warning: "\f101";
    $font-Flaticon-003-padlock: "\f102";
    $font-Flaticon-004-cancel: "\f103";
    $font-Flaticon-005-forward: "\f104";
    $font-Flaticon-006-reply: "\f105";
    $font-Flaticon-007-speedometer: "\f106";
    $font-Flaticon-008-email: "\f107";
    $font-Flaticon-009-chat-2: "\f108";
    $font-Flaticon-010-telephone: "\f109";
    $font-Flaticon-011-rss: "\f10a";
    $font-Flaticon-012-idea: "\f10b";
    $font-Flaticon-013-hourglass: "\f10c";
    $font-Flaticon-014-folder: "\f10d";
    $font-Flaticon-015-internet: "\f10e";
    $font-Flaticon-016-calendar: "\f10f";
    $font-Flaticon-017-support: "\f110";
    $font-Flaticon-018-group: "\f111";
    $font-Flaticon-019-user: "\f112";
    $font-Flaticon-020-chat-1: "\f113";
    $font-Flaticon-021-cursor-1: "\f114";
    $font-Flaticon-022-power-button: "\f115";
    $font-Flaticon-023-edit: "\f116";
    $font-Flaticon-024-refresh: "\f117";
    $font-Flaticon-025-mail: "\f118";
    $font-Flaticon-026-image: "\f119";
    $font-Flaticon-027-circular-clock: "\f11a";
    $font-Flaticon-028-video-player: "\f11b";
    $font-Flaticon-029-like: "\f11c";
    $font-Flaticon-030-eye: "\f11d";
    $font-Flaticon-031-heart: "\f11e";
    $font-Flaticon-032-favorite: "\f11f";
    $font-Flaticon-033-mouse: "\f120";
    $font-Flaticon-034-menu: "\f121";
    $font-Flaticon-035-gamepad: "\f122";
    $font-Flaticon-036-gps: "\f123";
    $font-Flaticon-037-play: "\f124";
    $font-Flaticon-038-laptop: "\f125";
    $font-Flaticon-039-tablet-1: "\f126";
    $font-Flaticon-040-tablet: "\f127";
    $font-Flaticon-041-trash: "\f128";
    $font-Flaticon-042-www: "\f129";
    $font-Flaticon-043-http: "\f12a";
    $font-Flaticon-044-options: "\f12b";
    $font-Flaticon-045-qr-code: "\f12c";
    $font-Flaticon-046-favorites: "\f12d";
    $font-Flaticon-047-wifi: "\f12e";
    $font-Flaticon-048-home: "\f12f";
    $font-Flaticon-049-loupe: "\f130";
    $font-Flaticon-050-hand: "\f131";
    $font-Flaticon-051-placeholder: "\f132";
    $font-Flaticon-052-link: "\f133";
    $font-Flaticon-053-cloud-computing: "\f134";
    $font-Flaticon-054-chat: "\f135";
    $font-Flaticon-055-worldwide: "\f136";
    $font-Flaticon-056-cursor: "\f137";