<div class="row addContent testimonial-holder" ref-component="testimonials">
    <div class="testimonial">
        <div class="test-content">
            <h3>Blake Connally</h3>
            <span>January, 2nd 2017</span>
            <p>Blake does great work! We will definitely use him in the future</p>
        </div>
    </div>
    <div class="testimonial">
        <div class="test-content">
            <h3>Blake Connally</h3>
            <span>January, 2nd 2017</span>
            <p>Blake does great work! We will definitely use him in the future</p>
        </div>
    </div>
</div>