<div class=\ "row addContent testimonial-holder\" ref-component=\ "testimonials\">\n
    <div class=\ "testimonial\">\n
        <div class=\ "test-content\">\n
            <h3 data-fill=\ "title1\">Blake Connally</h3>\n <span data-fill=\ "date1\">January, 2nd 2017</span>\n
            <p data-fill=\ "para1\">Blake does great work! We will definitely use him in the future</p>\n </div>\n </div>\n
    <div class=\
        "testimonial\">\n
        <div class=\ "test-content\">\n
            <h3 data-fill=\ "title2\">Blake Connally</h3>\n <span data-fill=\ "date2\">January, 2nd 2017</span>\n
            <p data-fill=\ "para2\">Blake does great work! We will definitely use him in the future</p>\n </div>\n </div> \n</div>