<div class="row addContent testimonial-holder" ref-component="testimonials">
    <div class="testimonial">
        <div class="test-content">
            <h3 data-fill="title1">Blake Connally</h3>
            <span data-fill="date1">January, 2nd 2017</span>
            <p data-fill="para1">Blake does great work! We will definitely use him in the future</p>
        </div>
    </div>
     <div class="testimonial">
        <div class="test-content">
            <h3 data-fill="title2">Blake Connally</h3>
            <span data-fill="date2">January, 2nd 2017</span>
            <p data-fill="para2">Blake does great work! We will definitely use him in the future</p>
        </div>
    </div> 
</div>