<div class="container" data-component="html">
    <div class="section-header">
        <h4>Terms of Service</h4>
    </div>
    <div class="section-body">
        <div class="terms-section">
            <h5>General & Liabilities</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus enim, laoreet eget pharetra sed, varius sit amet lacus.
                Mauris hendrerit dolor pretium turpis congue faucibus. Vivamus auctor risus quis accumsan tempor. Praesent
                blandit vestibulum dolor, nec iaculis dolor. Vivamus at quam id nisl vestibulum rutrum ut in orci. Praesent
                iaculis sit amet ligula sit amet ornare. Maecenas et convallis quam. Vestibulum suscipit rhoncus est, ac
                sodales tortor pretium ut. Pellentesque aliquam euismod erat, ac bibendum nibh. Proin massa justo, varius
                eget neque a, convallis facilisis dui.
            </p>
        </div>
    </div>
</div>