<div ref-component="sidenav" class="selected-content">
    <div class="section-header">
        <h4 style="text-align: right;">Welcome to eVetSites</h4>
    </div>
    <div class="section-body">
        <div class="terms-section">
            <p style="text-align: right;">Home of the best vet sites in the world.</p>
            <p style="text-align: right;">&nbsp;</p>
            <p style="text-align: right;">Hours of Operation:</p>
            <p style="text-align: right;">M: 9AM-5PM</p>
            <p style="text-align: right;">M: 9AM-5PM</p>
            <p style="text-align: right;">M: 9AM-5PM</p>
            <p style="text-align: right;">M: 9AM-5PM</p>
            <p style="text-align: right;">M: 9AM-5PM</p>
            <p style="text-align: right;">&nbsp;</p>
            <p style="text-align: right;">Contact:</p>
            <p style="text-align: right;">E: <a href="mailto:help@evet.net">help@evet.net</a></p>
            <p style="text-align: right;">P: 918-600-2000</p>
            <p style="text-align: right;">522 S. Boston Ave</p>
            <p style="text-align: right;">Tulsa, OK 74103</p>
        </div>
    </div>
</div>