    /*
      web icon font: web
      Creation date: 17/10/2017 08:52
      */

    @font-face {
      font-family: "web";
      src: url("./web.eot");
      src: url("./web.eot?#iefix") format("embedded-opentype"), url("./web.woff") format("woff"), url("./web.ttf") format("truetype"), url("./web.svg#web") format("svg");
      font-weight: normal;
      font-style: normal;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "web";
        src: url("./web.svg#web") format("svg");
      }
    }

    [class^="web-"]:before,
    [class*=" web-"]:before,
    [class^="web-"]:after,
    [class*=" web-"]:after {
      font-family: web;
      font-size: 20px;
      font-style: normal;
      margin-left: 20px;
    }

    .web-001-faq:before {
      content: "\f100";
    }

    .web-002-warning:before {
      content: "\f101";
    }

    .web-003-padlock:before {
      content: "\f102";
    }

    .web-004-cancel:before {
      content: "\f103";
    }

    .web-005-forward:before {
      content: "\f104";
    }

    .web-006-reply:before {
      content: "\f105";
    }

    .web-007-speedometer:before {
      content: "\f106";
    }

    .web-008-email:before {
      content: "\f107";
    }

    .web-009-chat-2:before {
      content: "\f108";
    }

    .web-010-telephone:before {
      content: "\f109";
    }

    .web-011-rss:before {
      content: "\f10a";
    }

    .web-012-idea:before {
      content: "\f10b";
    }

    .web-013-hourglass:before {
      content: "\f10c";
    }

    .web-014-folder:before {
      content: "\f10d";
    }

    .web-015-internet:before {
      content: "\f10e";
    }

    .web-016-calendar:before {
      content: "\f10f";
    }

    .web-017-support:before {
      content: "\f110";
    }

    .web-018-group:before {
      content: "\f111";
    }

    .web-019-user:before {
      content: "\f112";
    }

    .web-020-chat-1:before {
      content: "\f113";
    }

    .web-021-cursor-1:before {
      content: "\f114";
    }

    .web-022-power-button:before {
      content: "\f115";
    }

    .web-023-edit:before {
      content: "\f116";
    }

    .web-024-refresh:before {
      content: "\f117";
    }

    .web-025-mail:before {
      content: "\f118";
    }

    .web-026-image:before {
      content: "\f119";
    }

    .web-027-circular-clock:before {
      content: "\f11a";
    }

    .web-028-video-player:before {
      content: "\f11b";
    }

    .web-029-like:before {
      content: "\f11c";
    }

    .web-030-eye:before {
      content: "\f11d";
    }

    .web-031-heart:before {
      content: "\f11e";
    }

    .web-032-favorite:before {
      content: "\f11f";
    }

    .web-033-mouse:before {
      content: "\f120";
    }

    .web-034-menu:before {
      content: "\f121";
    }

    .web-035-gamepad:before {
      content: "\f122";
    }

    .web-036-gps:before {
      content: "\f123";
    }

    .web-037-play:before {
      content: "\f124";
    }

    .web-038-laptop:before {
      content: "\f125";
    }

    .web-039-tablet-1:before {
      content: "\f126";
    }

    .web-040-tablet:before {
      content: "\f127";
    }

    .web-041-trash:before {
      content: "\f128";
    }

    .web-042-www:before {
      content: "\f129";
    }

    .web-043-http:before {
      content: "\f12a";
    }

    .web-044-options:before {
      content: "\f12b";
    }

    .web-045-qr-code:before {
      content: "\f12c";
    }

    .web-046-favorites:before {
      content: "\f12d";
    }

    .web-047-wifi:before {
      content: "\f12e";
    }

    .web-048-home:before {
      content: "\f12f";
    }

    .web-049-loupe:before {
      content: "\f130";
    }

    .web-050-hand:before {
      content: "\f131";
    }

    .web-051-placeholder:before {
      content: "\f132";
    }

    .web-052-link:before {
      content: "\f133";
    }

    .web-053-cloud-computing:before {
      content: "\f134";
    }

    .web-054-chat:before {
      content: "\f135";
    }

    .web-055-worldwide:before {
      content: "\f136";
    }

    .web-056-cursor:before {
      content: "\f137";
    }